h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
}

body {
    background-image: url("../images/Background-2.jpg");
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;

}